<div id="form">
<form action="new-listing.component.ts">
    <!--address-->
    <div>Address</div>
    <div class="wave-group">
        <input required="" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">N</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">m</span>
            <span class="label-char" style="--index: 3">e</span>
        </label>
    </div>
    <br>
    <!--Rent per person-->
    <div>Rent Per person</div>
    <div class="wave-group">
        <input required="" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">N</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">m</span>
            <span class="label-char" style="--index: 3">e</span>
        </label>
    </div>
    <br>
    <!--Utilities included?-->
    <div>Utilities Included?</div>
    <mat-checkbox></mat-checkbox>
    <br>   
    <!--Average Utilities per month-->
    <div>Average Utilities Per Month</div>
    <div class="wave-group">
        <input required="" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">N</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">m</span>
            <span class="label-char" style="--index: 3">e</span>
        </label>
    </div>
    <br> 
    <!--Number of Bathrooms-->
    <div>Number of Bathrooms</div>
    <div class="wave-group">
        <input required="" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">N</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">m</span>
            <span class="label-char" style="--index: 3">e</span>
        </label>
    </div>
    <br>
    <!--Number of Roommates-->
    <div>Number of Roommates</div>
    <div class="wave-group">
        <input required="" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">N</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">m</span>
            <span class="label-char" style="--index: 3">e</span>
        </label>
    </div>
    <br>
    <!--Male-->
    <div>Male</div>
    <mat-checkbox></mat-checkbox>
    <br>
    <!--Female-->
    <div>Female</div>
    <mat-checkbox></mat-checkbox>
    <br>
    <!--Other-->
    <div>Other</div>
    <mat-checkbox></mat-checkbox>
    <br>

    <!--Description-->
    <div>Description</div>
    <textarea matInput></textarea>
    <br>
    <!--Length of Availability-->
    <div>Length of Availability</div>
    <div class="wave-group">
        <input required="" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">N</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">m</span>
            <span class="label-char" style="--index: 3">e</span>
        </label>
    </div>
    <br>
    <!--Amenities-->
    <!--Pets. Specify types allowed -->
    <div>Specify types of pets if applicable</div>
    <div class="wave-group">
        <input required="" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">N</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">m</span>
            <span class="label-char" style="--index: 3">e</span>
        </label>
    </div>
    <br>
    <!--In Unit Washer/Dryer-->
    <div>In Unit Washer/Dryer?</div>
    <input type="checkbox">
    <br>
    <!--Driveway Parking-->
    <div>Driveway Parking?</div>
    <input type="checkbox">
    <br>
    <!--Off-Street Parking-->
    <div>Off Street Parking?</div>
    <input type="checkbox">
    <br>


    <!--upload pictures-->
    <div>Upload Pictures</div> 
    <input type="file">
    <br>
    <input type="file">
    <br>
    <input type="file">
    <br>
    <br><br>

    <!--SUBMIT-->
    <button class="pushable" type="submit">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front">
          Push Me
        </span>
      </button>
</form>
</div>