<form action="new-listing.component.ts">
    <!--address-->
    <input type="text">
    <!--Rent per person-->
    <input type="text">
    <!--Utilities included?-->
    <input type="text">
    <!--Average Utilities per month-->
    <input type="text">
    <!--Number of Bathrooms-->
    <input type="text">

    <!--Number of Roommates-->
    <input type="">
    <!--Male-->
    <input type="checkbox">
    <!--Female-->
    <input type="checkbox">
    <!--Other-->
    <input type="checkbox">

    <!--Description-->
    <input type="text">
    <!--Length of Availability-->
    <input type="text">

    <!--Amenities-->
    <!--Pets. Specify types allowed -->
    <input type="text">
    <!--In Unit Washer/Dryer-->
    <input type="checkbox">
    <!--Driveway Parking-->
    <input type="checkbox">
    <!--Off-Street Parking-->
    <input type="checkbox">


    <!--upload pictures-->
    <input type="image">
    <input type="image">
    <input type="image">
</form>